<nav class="navbar navbar-expand-lg w-100 center-nav rounded sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" href="http://localhost:4200/index">Indice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav">
          <a class="nav-link fw-bolder" routerLink="/tiposexpediente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tipos Expediente
          </a>
          <a class="nav-link fw-bolder" routerLink="/expedientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Expedientes
          </a>
          <a class="nav-link fw-bolder" routerLink="/actuaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actuaciones
          </a>
          <a class="nav-link fw-bolder" href="http://localhost:4200/habitacion/insertar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Habitaciones
          </a>
      </ul>
    </div>
  </div>
</nav>
