<app-header></app-header>
<body>
	<div class="example-wrapper">
		<div class="example-wrapper" style="width: 900px">
			<h1>TABLA EXPEDIENTES</h1>
			<br>
			<!-- Formulario para añadir -->

			<form (ngSubmit)="insertarExpedientes()" #form="ngForm" class="container mt-4" *ngIf="anadir">
				<div class="row">
					<div class="col-md-3">
						<label for="codigoInput" class="form-label">Codigo de Referencia</label>
						<input type="text" name="codigo" id="codigoInput" class="form-control" [(ngModel)]="codigo" required/>

						<label for="fechaInput" class="form-label">Fecha</label>
						<input type="date" name="fecha" id="fechaInput" class="form-control" [(ngModel)]="fecha" required/>
					</div>

					<div class="col-md-3">
						<label for="situacionInput" class="form-label">Situacion</label>
						<select [(ngModel)]="situacion" class="form-select" name="situacion">
							<option [ngValue]="'Pendiente'">Pendiente</option>
							<option [ngValue]="'Enviado'">Enviado</option>
							<option [ngValue]="'En_Proceso'">En Proceso</option>
							<option [ngValue]="'En_Espera_De_Juicio'">En Espera de Juicio</option>
							<option [ngValue]="'Resuelto'">Resuelto</option>
							<option [ngValue]="'Apelacion'">Apelación</option>
							<option [ngValue]="'Cerrado'">Cerrado</option>
						</select>
						<label for="opcionesInput" class="form-label">Opciones</label>
						<input type="text" name="opciones" id="opcionesnInput" class="form-control" [(ngModel)]="opciones" required/>
					</div>

					<div class="col-md-3">
						<label for="descripcionInput" class="form-label">Descripcion</label>
						<input type="text" name="descripcion" id="descripcionInput" class="form-control" [(ngModel)]="descripcion" required/>

						<label for="prioridadInput" class="form-label">Prioridad</label>
						<select [(ngModel)]="prioridad" class="form-select" name="prioridad">
							<option>Baja</option>
							<option>Media</option>
							<option>Alta</option>
						</select>
					</div>

					<div class="col-md-3">
						<label for="ubicacionInput" class="form-label">Ubicación</label>
						<input type="text" name="ubicacion" id="ubicacionInput" class="form-control" [(ngModel)]="ubicacion" required/>

						<label for="materiaInput" class="form-label">Materia</label>
						<select [(ngModel)]="materiaAnadir" class="form-select" name="materiaAnadir">
							<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.materia">
								{{ tipo.materia }}
							</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="activoInput" class="form-label">¿Quiere añadirlo activado?</label>
							<input type="checkbox" class="form-check-input" id="activo" name="activo" [(ngModel)]="activo"/>
					</div>

				</div>
				<button type="submit" class="btn btn-primary m-1" [disabled]="!form.valid">
					Añadir
				</button>
				<button type="submit" class="btn btn-outline-dark m-1" (click)="anadirFormulario(false)">
					Cancelar
				</button>
				<hr/>


			</form>

			<!-- Mensajes -->

			<div *ngIf="mensaje" aria-label='success container'>
				<p class="alert alert-success">
					{{ mensaje }}
				</p>
			</div>

			<div *ngIf="mensajeError" aria-label='success container'>
				<p class="alert alert-danger">
					{{ mensajeError }}
				</p>
			</div>


			<!--Boton para permitir ver el formulario de añadir -->

			<section class="example-wrapper">
				<div class="d-flex justify-content-center" *ngIf="!anadir">
					<button class="btn btn-primary ms-3 w-75" (click)="anadirFormulario(true)">
						Añadir
					</button>
				</div>


				<!-- Select para buscar por materia -->


				<div>
					<table class="example-wrapper">
						<tr>
							<td>
								<select [(ngModel)]="codigoConsultar" class="form-select">
									<option *ngFor="let tipo of tipoBuscar" [value]="tipo.codigo">
										{{ tipo.codigo }}
									</option>
								</select>
							</td>
							<td>
								<button (click)="cargarTipos2(codigoConsultar)" class="btn btn-primary m-1">
									Buscar
								</button>
							</td>
							<td>
								<button (click)="cargarTipos()" class="btn btn-primary m-1">
									Ver Todos
								</button>
							</td>
							<td>
								<button (click)="alternarActivoInactivo()" class="btn btn-primary">
									Alternar entre Activo/Inactivo
								</button>
							</td>
							<td>
								<button (click)="mostrarAI()" class="btn btn-primary">
									Ver Inactivos y Activos
								</button>
							</td>
						</tr>
					</table>
					<div *ngIf="mensajeActivos" aria-label='success container' class="w-25 justify-content-center">
						<p class="alert alert-info">
							{{ mensajeActivos }}
						</p>
					</div>
					<!-- Funciones varias -->
				</div>

			</section>
		</div>


		<!-- Tabla donde se muestran los datos -->


		<div style="max-height: 470px; overflow-y: auto;">
			<table class="table mt-3 tabla example-wrapper">
				<thead style="position: sticky; top: 0; z-index: 1; background-color: white;">
					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Fecha</th>
						<th scope="col">Situacion</th>
						<th scope="col">Opciones</th>
						<th scope="col">Descripcion</th>
						<th scope="col">Prioridad</th>
						<th scope="col">Ubicacion</th>
						<th scope="col">Materia</th>
						<th scope="col">Activo</th>
						<th scope="col">Funciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tipo of tipos">
						<ng-container
							*ngIf="tipo.activo == alternarAI || tipo.activo == mostrarActivosInactivos">

							<!-- Se crea algo parecido a un formulario, sirve para acutalizar los registros -->

							<ng-container *ngIf="codigoSeleccionado == tipo.codigo; else mostrarFila">
								<td>
									<input type="text" name="codigoNuevo" id="codigoNuevoInput" class="form-control" required [(ngModel)]="codigoNuevo"/>
								</td>
								<td>
									<input type="date" name="fecha" id="fechaInput" class="form-control" [(ngModel)]="fecha"/>
								</td>
								<td>
									<select [(ngModel)]="situacion" class="form-select">
										<option [ngValue]="'Pendiente'">Pendiente</option>
										<option [ngValue]="'Enviado'">Enviado</option>
										<option [ngValue]="'En_Proceso'">En Proceso</option>
										<option [ngValue]="'En_Espera_De_Juicio'">En Espera de Juicio</option>
										<option [ngValue]="'Resuelto'">Resuelto</option>
										<option [ngValue]="'Apelacion'">Apelación</option>
										<option [ngValue]="'Cerrado'">Cerrado</option>
									</select>
								</td>
								<td>
									<input type="text" name="opciones" id="OpcionesInput" class="form-control" [(ngModel)]="opciones"/>
								</td>
								<td>
									<input type="text" name="Descripcion" id="DescripcionInput" class="form-control" [(ngModel)]="descripcion"/>
								</td>
								<td>
									<select [(ngModel)]="prioridad" class="form-select">
										<option>Baja</option>
										<option>Media</option>
										<option>Alta</option>
									</select>
								</td>
								<td>
									<input type="text" name="ubicacion" id="UbicacionInput" class="form-control" [(ngModel)]="ubicacion"/>
								</td>
								<td>
									<select [(ngModel)]="materiaNueva" class="form-select">
										<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.materia">
											{{ tipo.materia }}
										</option>
									</select>
								</td>
								<td>
									<input type="text" name="activo" id="activoInput" class="form-control" value="{{tipo.activo}}" disabled/>
								</td>

								<td>
									<button type="submit" (click)="
																				                      actualizarTiposExpediente(
																				                        tipo.codigo,
																				                        codigoNuevo,
																				                        fecha,
																				                        situacion,
																				                        opciones,
																				                        descripcion,
																				                        prioridad,
																				                        ubicacion,
																				                        tipoExpdiente[0],
																				                        tipo.activo
																				                      )
																				                    " class="btn btn-primary m-1">
										Actualizar
									</button>
									<button class="btn btn-outline-dark m-1" (click)="cancelarTipo()">
										Cancelar
									</button>
								</td>
							</ng-container>

							<!-- Datos sin poder editarse -->

							<ng-template #mostrarFila>
								<td class="w-40" style="padding: 15px 0px 0px 21px">
									{{ tipo.codigo }}
								</td>
								<td class="w-40" style="padding: 15px 0px 0px 21px">
									{{ tipo.fecha }}
								</td>
								<td style="padding: 15px 0px 0px 21px" class="w-40">
									{{ tipo.situacion }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.opciones }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.descripcion }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.prioridad }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.ubicacion }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.tipoExpediente.materia }}
								</td>
								<td class="w-25" style="padding: 15px 0px 0px 21px">
									{{ tipo.activo }}
								</td>
								<td>
									<button class="btn btn-outline-dark m-1" (click)="editarTipo(tipo.codigo, tipo.fecha, tipo.situacion, tipo.opciones, tipo.descripcion ,tipo.prioridad,tipo.ubicacion, tipo.tipoExpediente.materia)">
										Editar
									</button>
									<button *ngIf="tipo.activo == 1 " class="btn btn-outline-danger m-1" (click)="borrarLogicamenteExpedientes(tipo.codigo)">
										Desactivar
									</button>
									<button *ngIf="tipo.activo == 0 " class="btn btn-outline-danger m-1" (click)="activar(tipo.codigo)">
										Activar
									</button>
									<button class="btn btn-outline-danger m-1" (click)="borrarFisicamenteExpedientes(tipo.codigo)">
										Borrar
									</button>
								</td>
							</ng-template>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
