<app-header></app-header>
<body>
	<div class="example-wrapper">
		<div class="example-wrapper" style="width: 900px">
			<h1>TABLA ACTUACIONES</h1>
			<br>
			<!-- Formulario para añadir -->

			<form (ngSubmit)="insertarExpedientes()" #form="ngForm" class="container mt-4" *ngIf="anadir">
				<div class="row">
					<div class="col-md-3">
						<label for="codigoInput" class="form-label">Descripcion</label>
						<input type="text" name="codigo" id="codigoInput" class="form-control" [(ngModel)]="codigo" required/>

						<label for="fechaInput" class="form-label">Fecha</label>
						<input type="date" name="fecha" id="fechaInput" class="form-control" [(ngModel)]="fecha" required/>
					</div>

					<div class="col-md-3">
						<label for="modalidadInput" class="form-label">Modalidad</label>
						<input type="text" name="cmodalidad" id="modalidadInput" class="form-control" [(ngModel)]="modalidad" required/>

						<label for="expedienteInput" class="form-label">Expediente</label>
						<select [(ngModel)]="expedienteAnadir" class="form-select" name="expedienteAnadir">
							<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.codigo">
								{{ tipo.codigo }}
							</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="finalizadoInput" class="form-label">¿Ha finalizado?</label>
						<section class="form-check">
							<input type="checkbox" class="form-check-input" id="finalizado" name="finalizado" [(ngModel)]="finalizado"/>
						</section>
						<label for="activoInput" class="form-label">¿Quiere añadirlo activado?</label>
						<section class="form-check">
							<input type="checkbox" class="form-check-input" id="activo" name="activo" [(ngModel)]="activo" value="1"/>
						</section>
					</div>

				</div>
				<button type="submit" class="btn btn-primary m-1" [disabled]="!form.valid">
					Añadir
				</button>
				<button type="submit" class="btn btn-outline-dark m-1" (click)="anadirFormulario(false)">
					Cancelar
				</button>
				<hr/>


			</form>

			<!-- Mensajes -->

			<div *ngIf="mensaje" aria-label='success container'>
				<p class="alert alert-success">
					{{ mensaje }}
				</p>
			</div>

			<div *ngIf="mensajeError" aria-label='success container'>
				<p class="alert alert-danger">
					{{ mensajeError }}
				</p>
			</div>


			<!--Boton para permitir ver el formulario de añadir -->

			<section class="example-wrapper">
				<div class="d-flex justify-content-center" *ngIf="!anadir">
					<button class="btn btn-primary ms-3 w-75" (click)="anadirFormulario(true)">
						Añadir
					</button>
				</div>


				<!-- Select para buscar por materia -->


				<div>
					<table class="example-wrapper">
						<tr>
							<td>
                                <label for="expedienteConsultar">Expediente:</label>
								<select [(ngModel)]="expedienteConsultar" class="form-select">
									<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.codigo">
										{{ tipo.codigo}}
									</option>
								</select>
                                <label for="codigoConsultar">Descripcion:</label>
                                <select [(ngModel)]="codigoConsultar" class="form-select">
									<ng-container *ngFor="let tipo of tipoBuscar">
                                    <ng-container *ngIf="tipo.expediente.codigo == expedienteConsultar">
                                    <option [value]="tipo.descripcion">
										{{ tipo.descripcion }}
                                    </option>
                                    </ng-container>
									</ng-container>
								</select>
                                
							</td>
							<td>
								<button (click)="cargarTipos2(codigoConsultar, expedienteConsultar )" class="btn btn-primary m-1">
									Buscar
								</button>
							</td>
							<td>
								<button (click)="cargarTipos()" class="btn btn-primary m-1">
									Ver Todos
								</button>
							</td>
							<td>
								<button (click)="alternarActivoInactivo()" class="btn btn-primary">
									Alternar entre Activo/Inactivo
								</button>
							</td>
							<td>
								<button (click)="mostrarAI()" class="btn btn-primary">
									Ver Inactivos y Activos
								</button>
							</td>
						</tr>
					</table>
					<div *ngIf="mensajeActivos" aria-label='success container' class="w-25 justify-content-center">
						<p class="alert alert-info">
							{{ mensajeActivos }}
						</p>
					</div>
					<!-- Funciones varias -->
				</div>

			</section>
		</div>


		<!-- Tabla donde se muestran los datos -->


		<div style="max-height: 470px; overflow-y: auto;">
			<table class="table mt-3 tabla example-wrapper">
				<thead style="position: sticky; top: 0; z-index: 1; background-color: white;">
					<tr>
						<th scope="col">Descripcion</th>
						<th scope="col">Finalizada</th>
						<th scope="col">Fecha</th>
						<th scope="col">Modalidad</th>
						<th scope="col">Expediente</th>
						<th scope="col">Activo</th>
						<th scope="col">Funciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tipo of tipos">
						<ng-container
							*ngIf="tipo.activo == alternarAI || tipo.activo == mostrarActivosInactivos">

							<!-- Se crea algo parecido a un formulario, sirve para acutalizar los registros -->

							<ng-container *ngIf="codigoSeleccionado == tipo.descripcion; else mostrarFila">
								<td>
									<input type="text" name="codigoNuevo" id="codigoNuevoInput" class="form-control" required [(ngModel)]="codigoNuevo"/>
								</td>
								<td>
									<section class="form-check">
										<input type="checkbox" class="form-check-input" id="finalizado" name="finalizado" [(ngModel)]="finalizado"/>
									</section>
								</td>
								<td>
									<input type="date" name="fecha" id="fechaInput" class="form-control" [(ngModel)]="fecha"/>
								</td>
								<td>
									<input type="text" name="modalidad" id="modalidadInput" class="form-control" [(ngModel)]="modalidad"/>
								</td>
								<td>
									<select [(ngModel)]="expedienteNuevo" class="form-select">
										<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.codigo">
											{{ tipo.codigo }}
										</option>
									</select>
								</td>
								<td>
									<input type="text" name="activo" id="activoInput" class="form-control" value="{{tipo.activo}}" disabled/>
								</td>

								<td>
									<button type="submit" (click)="
																				                      actualizarTiposExpediente(
																				                        tipo.descripcion,
																				                        codigoNuevo,
										                                                                finalizado,
																				                        fecha,
										                                                                modalidad,
																				                        tipoExpdiente[0],
																				                        tipo.activo
																				                      )
																				                    " class="btn btn-primary m-1">
										Actualizar
									</button>
									<button class="btn btn-outline-dark m-1" (click)="cancelarTipo()">
										Cancelar
									</button>
								</td>
							</ng-container>

							<!-- Datos sin poder editarse -->

							<ng-template #mostrarFila>
								<td class="w-40" style="padding: 15px 0px 0px 21px">
									{{ tipo.descripcion }}
								</td>
								<td class="w-40" style="padding: 15px 0px 0px 21px">
									<ng-container *ngIf="tipo.finalizado == 1; else mostrarNo">
										Si
									</ng-container>
									<ng-template #mostrarNo>
										No
									</ng-template>
								</td>
								<td style="padding: 15px 0px 0px 21px" class="w-40">
									{{ tipo.fecha }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.modalidad }}
								</td>
								<td style="padding: 15px 0px 0px 21px">
									{{ tipo.expediente.codigo }}
								</td>
								<td class="w-25" style="padding: 15px 0px 0px 21px">
									{{ tipo.activo }}
								</td>
								<td>
									<button class="btn btn-outline-dark m-1" (click)="editarTipo(tipo.descripcion, tipo.finalizado, tipo.fecha, tipo.modalidad, tipo.expediente.codigo)">
										Editar
									</button>
									<button *ngIf="tipo.activo == 1 " class="btn btn-outline-danger m-1" (click)="borrarLogicamenteActuaciones(tipo.descripcion, tipo.expediente.codigo)">
										Desactivar
									</button>
									<button *ngIf="tipo.activo == 0 " class="btn btn-outline-danger m-1" (click)="activar(tipo.descripcion, tipo.expediente.codigo)">
										Activar
									</button>
									<button class="btn btn-outline-danger m-1" (click)="borrarFisicamenteActuaciones(tipo.descripcion, tipo.expediente.codigo)">
										Borrar
									</button>
								</td>
							</ng-template>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
