
<app-header></app-header>
<body>
	<div class="example-wrapper">
		<div class="example-wrapper" style="width: 900px">
			<h1>TABLA DOCUMENTOS</h1>
			<br>
			<!-- Formulario para añadir -->
			<form (ngSubmit)="upload()" #form="ngForm" class="container mt-4" *ngIf="anadir">
				<div class="row">
					<div class="col-md-6">
						<label for="archivo" class="form-label">
							Archivo
						</label>
						<input type="file" name="image" id="image" class="form-control" accept="image/**" (change)="onFileSelected($event)">
					</div>
					<div class="col-md-3">
						<label for="tarifaInput" class="form-label">Tarifa</label>
						<input type="number" class="form-control" id="tarifa" name="tarifa" [(ngModel)]="tarifa"/>
						<label for="categorianput" class="form-label">Categoria</label>
						<input type="text" class="form-control" id="tarifa" name="categoria" [(ngModel)]="categoria"/>
					</div>


					<div class="col-md-3">

						<label for="expedienteInput" class="form-label">Expediente</label>
						<select [(ngModel)]="expedienteAnadir" class="form-select" name="expedienteAnadir">
							<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.codigo">
								{{ tipo.codigo }}
							</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="activoInput" class="form-label">¿Quiere añadirlo activado?</label>
						<section class="form-check">
							<input type="checkbox" class="form-check-input" id="activo" name="activo" [(ngModel)]="activo" value="1"/>
						</section>
					</div>


				</div>
				<button type="submit" class="btn btn-primary m-1" [disabled]="!form.valid">
					Añadir
				</button>
				<button type="submit" class="btn btn-outline-dark m-1" (click)="anadirFormulario(false)">
					Cancelar
				</button>
				<hr/>


			</form>

			<!-- Mensajes -->

			<div *ngIf="mensaje" aria-label='success container'>
				<p class="alert alert-success">
					{{ mensaje }}
				</p>
			</div>

			<div *ngIf="mensajeError" aria-label='success container'>
				<p class="alert alert-danger">
					{{ mensajeError }}
				</p>
			</div>


			<!--Boton para permitir ver el formulario de añadir -->

			<section class="example-wrapper">
				<div class="d-flex justify-content-center" *ngIf="!anadir">
					<button class="btn btn-primary ms-3 w-75" (click)="anadirFormulario(true)">
						Añadir
					</button>
				</div>


				<!-- Select para buscar por materia -->


				<div>
					<table class="example-wrapper">
						<tr>
							<td>
								<select [(ngModel)]="expedienteConsultar" class="form-select">
									<option *ngFor="let tipo of tipoBuscar" [value]="tipo.ruta">
										{{ tipo.ruta}}
									</option>
								</select>
							</td>
							<td>
								<button (click)="cargarTipos2(expedienteConsultar)" class="btn btn-primary m-1">
									Buscar
								</button>
							</td>
							<td>
								<button (click)="cargarTipos()" class="btn btn-primary m-1">
									Ver Todos
								</button>
							</td>
							<td>
								<button (click)="alternarActivoInactivo()" class="btn btn-primary">
									Alternar entre Activo/Inactivo
								</button>
							</td>
							<td>
								<button (click)="mostrarAI()" class="btn btn-primary">
									Ver Inactivos y Activos
								</button>
							</td>
						</tr>
					</table>
					<div *ngIf="mensajeActivos" aria-label='success container' class="w-25 justify-content-center">
						<p class="alert alert-info">
							{{ mensajeActivos }}
						</p>
					</div>
					<!-- Funciones varias -->
				</div>

			</section>
		</div>


		<!-- Tabla donde se muestran los datos -->


		<div style="max-height: 470px; overflow-y: auto;">
			<table class="table mt-3 tabla example-wrapper">
				<thead style="position: sticky; top: 0; z-index: 1; background-color: white;">
					<tr>
						<th scope="col">Ruta</th>
						<th scope="col">Tarifa</th>
						<th scope="col">Categoria</th>
						<th scope="col">Expediente</th>
						<th scope="col">Activo</th>
						<th scope="col">Funciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tipo of tipos">
						<ng-container
							*ngIf="tipo.activo == alternarAI || tipo.activo == mostrarActivosInactivos">

							<!-- Se crea algo parecido a un formulario, sirve para acutalizar los registros -->

							<ng-container *ngIf="codigoSeleccionado == tipo.ruta; else mostrarFila">
								<td>
									<input type="file" name="image" id="image" class="form-control" accept="image/**" (change)="onFileSelectedActu($event)">
								</td>
								<td>
									<input type="number" class="form-control" id="tarifa" name="tarifa" [(ngModel)]="tarifa"/>
								</td>
								<td>
									<input type="text" name="categoria" id="categoriaInput" class="form-control" [(ngModel)]="categoria"/>
								</td>
								<td>
									<select [(ngModel)]="expedienteNuevo" class="form-select">
										<option *ngFor="let tipo of tipoExpedienteBuscar" [value]="tipo.codigo">
											{{ tipo.codigo }}
										</option>
									</select>
								</td>
								<td>
									<input type="text" name="activo" id="activoInput" class="form-control" value="{{tipo.activo}}" disabled/>
								</td>

								<td class="w-25">
									<button type="submit" (click)="
																														                      uploadActualizacion(
																														                        tipo.ruta,
																				                                                                tarifa,
																				                                                                categoria,
																														                        tipoExpdiente[0],
																														                        tipo.activo
																														                      )
																														                    " class="btn btn-primary m-1">
										Actualizar
									</button>
									<button class="btn btn-outline-dark m-1" (click)="cancelarTipo()">
										Cancelar
									</button>
								</td>
							</ng-container>

							<!-- Datos sin poder editarse -->

							<ng-template #mostrarFila>
								<td class="w-25" style="padding: 15px 0px 0px 21px">
									<button class="btn btn-outline-dark" (click)="verFoto(tipo.ruta)">{{ tipo.ruta }}</button>
								</td>
								<td style="padding: 15px 0px 0px 21px; width: 100px;">
									{{ tipo.tarifa }}
								</td>
								<td style="padding: 15px 0px 0px 21px; width: 50px;">
									{{ tipo.categoria }}
								</td>
								<td class="w-25" style="padding: 15px 0px 0px 21px">
									{{ tipo.expediente.codigo }}
								</td>
								<td style="padding: 15px 0px 0px 21px;">
									{{ tipo.activo }}
								</td>
								<td class="w-25"> 
									<button class="btn btn-outline-dark m-1" (click)="editarTipo(tipo.ruta, tipo.tarifa, tipo.categoria, tipo.expediente.codigo)">
										Editar
									</button>
									<button *ngIf="tipo.activo == 1 " class="btn btn-outline-danger m-1" (click)="borrarLogicamenteDocumentos(tipo.ruta)">
										Desactivar
									</button>
									<button *ngIf="tipo.activo == 0 " class="btn btn-outline-danger m-1" (click)="activar(tipo.ruta)">
										Activar
									</button>
									<button class="btn btn-outline-danger m-1" (click)="borrarFisicamenteDocumentos(tipo.ruta)">
										Borrar
									</button>
								</td>
							</ng-template>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="foto">
		
			<img [src]="foto" alt="">
			<button class="btn btn-outline-dark" (click)="cerrarFoto()">Cerrar</button>
		</div>
	</div>
</body>
